
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="ISO-8859-1" />
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	
	<th:block layout:replace="fragments/header"></th:block>
	
	<div class="container-fluid">
		<div class="row">
			<th:block layout:fragment="content"></th:block>
		</div>
	</div>
	
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
</body>
</html>