<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
	<p>New Path</p>
	<p th:text="' Hello ' + ${ name }"> </p>
	
	<ul>
		<li th:each="name : ${list}">
		<p th:text="${name}"> </p> 
	</ul>
	
	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>